@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.navbar{
  margin: auto;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100vw;
  color:#fff;
  background-color: #333;
  z-index: 50;
  border-bottom: 1px solid #333;
  box-shadow: 0px 1px 7px #555;
}
body{
  background-color: #555;
}